In [1]:
# Libaries needed for data manipulation and wrangling

import pandas as pd
import numpy as np

In [2]:
# reading our data

train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')
sample = pd.read_csv('sample_submission.csv')

In [3]:


train.head()

,traveller_ID,ticket_class,name,sex,age,Siblings_spouses,Parchil,TickNum,fare,cabin,embarked,MedBoat,Survived
0,1214,3,"Smiljanic, Mr. Mile",male,NaN,0,0,315037,8.6625,NaN,S,NaN,0
1,677,3,"Bostandyeff, Mr. Guentcho",male,26.0,0,0,349224,7.8958,NaN,S,NaN,0
2,534,2,"Phillips, Miss. Kate Florence (""Mrs Kate Louis...",female,19.0,0,0,250655,26.0000,NaN,S,11,1
3,1174,3,"Sage, Miss. Dorothy Edith ""Dolly""",female,NaN,8,2,CA. 2343,69.5500,NaN,S,NaN,0
4,864,3,"Henriksson, Miss. Jenny Lovisa",female,28.0,0,0,347086,7.7750,NaN,S,NaN,0

In [4]:


# This line of code help us know which of the columns in the train data is categorical

cat_columns = train.select_dtypes(include=['object']).columns

a = cat_columns.to_list()

a

['name', 'sex', 'TickNum', 'cabin', 'embarked', 'MedBoat']

In [6]:
# Are there null values?
# This line of code help us know

train.isnull().sum()

traveller_ID          0
ticket_class          0
name                  0
sex                   0
age                 187
Siblings_spouses      0
Parchil               0
TickNum               0
fare                  1
cabin               712
embarked              1
MedBoat             589
Survived              0
dtype: int64

In [6]:
# Filling null values in the train data

#train = train.fillna(value = round(mean_age,2))

In [7]:
# Filling null values in the train data

train = train.fillna(method = 'bfill')

In [8]:
# Checking if the null values have been filled 

train.isnull().sum()

traveller_ID        0
ticket_class        0
name                0
sex                 0
age                 0
Siblings_spouses    0
Parchil             0
TickNum             0
fare                0
cabin               0
embarked            0
MedBoat             0
Survived            0
dtype: int64

In [9]:
# This code confirm that our data types are now a combination of strings and integers

train.dtypes

traveller_ID          int64
ticket_class          int64
name                 object
sex                  object
age                 float64
Siblings_spouses      int64
Parchil               int64
TickNum              object
fare                float64
cabin                object
embarked             object
MedBoat              object
Survived              int64
dtype: object

We then carried out the same `Data Preprocessing` steps for the test data

In [10]:


cat_columns = train.select_dtypes(include=['object']).columns

a = cat_columns.to_list()

a

['name', 'sex', 'TickNum', 'cabin', 'embarked', 'MedBoat']

In [12]:
# Machine Learning algorithmscan only use numbers

# Label encoding help us to conver our non-numbers columns to numbers columns

from sklearn.preprocessing import LabelEncoder

lb_make = LabelEncoder()

In [18]:
train['name'] = lb_make.fit_transform(train['name'])


train['sex'] = lb_make.fit_transform(train['sex'])

train['TickNum'] = lb_make.fit_transform(train['TickNum'])

In [19]:
#df[cat] = le.fit_transform(df[cat].astype(str))

train['cabin'] = lb_make.fit_transform(train['cabin'].astype(str))

train['embarked'] = lb_make.fit_transform(train['embarked'].astype(str))

train['MedBoat'] = lb_make.fit_transform(train['MedBoat'].astype(str))

In [15]:
train['cabin'].nunique

<bound method IndexOpsMixin.nunique of 0                 29.1
1                 29.1
2                 29.1
3                 29.1
4                 29.1
5                 29.1
6                 29.1
7                 29.1
8                 29.1
9                 29.1
10                29.1
11                29.1
12                29.1
13                29.1
14                29.1
15                29.1
16                29.1
17                29.1
18                29.1
19                 B10
20                   T
21                 A11
22                29.1
23                29.1
24                 C51
25                29.1
26                29.1
27                29.1
28                29.1
29                29.1
            ...
886               29.1
887               29.1
888               29.1
889               29.1
890               29.1
891    B57 B59 B63 B66
892                D35
893               29.1
894               29.1
895                B78
896               29.1
897               29.1
898               29.1
899               29.1
900                D56
901               29.1
902               29.1
903               29.1
904               29.1
905               29.1
906               29.1
907               29.1
908               29.1
909               29.1
910               29.1
911               29.1
912               29.1
913               29.1
914               29.1
915               29.1
Name: cabin, Length: 916, dtype: object>

In [20]:
train.dtypes

traveller_ID          int64
ticket_class          int64
name                  int64
sex                   int64
age                 float64
Siblings_spouses      int64
Parchil               int64
TickNum               int64
fare                float64
cabin                 int32
embarked              int32
MedBoat               int32
Survived              int64
dtype: object

In [21]:
test.head()

,traveller_ID,ticket_class,name,sex,age,Siblings_spouses,Parchil,TickNum,fare,cabin,embarked,MedBoat
0,1148,3.0,"Rintamaki, Mr. Matti",male,35.0,0.0,0.0,STON/O 2. 3101273,7.1250,NaN,S,NaN
1,1049,3.0,"Nakid, Mr. Sahid",male,20.0,1.0,1.0,2653,15.7417,NaN,C,C
2,982,3.0,"Lyntakoff, Mr. Stanko",male,NaN,0.0,0.0,349235,7.8958,NaN,S,NaN
3,808,3.0,"Ford, Mr. Arthur",male,NaN,0.0,0.0,A/5 1478,8.0500,NaN,S,NaN
4,1195,3.0,"Shaughnessy, Mr. Patrick",male,NaN,0.0,0.0,370374,7.7500,NaN,Q,NaN

In [22]:
test.isnull().sum()

traveller_ID          0
ticket_class          0
name                  0
sex                   0
age                  76
Siblings_spouses      0
Parchil               0
TickNum               0
fare                  0
cabin               302
embarked              1
MedBoat             234
dtype: int64

In [23]:
test = test.fillna(method = 'bfill')

In [24]:
cat_columns_test = test.select_dtypes(include=['object']).columns

a = cat_columns.to_list()

a

['name', 'sex', 'TickNum', 'cabin', 'embarked', 'MedBoat']

In [25]:
test['name'] = lb_make.fit_transform(test['name'])


test['sex'] = lb_make.fit_transform(test['sex'])

test['TickNum'] = lb_make.fit_transform(test['TickNum'])

In [26]:

test['cabin'] = lb_make.fit_transform(test['cabin'].astype(str))

test['embarked'] = lb_make.fit_transform(test['embarked'].astype(str))

test['MedBoat'] = lb_make.fit_transform(test['MedBoat'].astype(str))

In [27]:
test.dtypes

traveller_ID          int64
ticket_class        float64
name                  int32
sex                   int32
age                 float64
Siblings_spouses    float64
Parchil             float64
TickNum               int32
fare                float64
cabin                 int32
embarked              int32
MedBoat               int32
dtype: object

In [28]:
# Defining our X and y variables

X = train.drop('Survived', axis = 1)

y = train.Survived

In [29]:
# for data validation

from sklearn.model_selection import train_test_split

X_train, X_test, y_train, y_test = train_test_split(
 X, y, test_size=0.3, random_state=42)

In [30]:
# Machine Learning Algorithm for Classification problems

from sklearn.linear_model import LogisticRegression

In [32]:
model = LogisticRegression()
model.fit(X_train, y_train)

C:\Users\HP\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [33]:
# prediction on our local test set

pred = model.predict(X_test)

In [34]:
# Evaluation metric

from sklearn.metrics import f1_score

In [35]:
f1_score(pred, y_test)

0.7419354838709677

In [36]:
# fitting on our X and y variables

model.fit(X,y)

C:\Users\HP\Anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:433: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='warn',
          n_jobs=None, penalty='l2', random_state=None, solver='warn',
          tol=0.0001, verbose=0, warm_start=False)

In [37]:
# prediction on our test data
prediction = model.predict(test).astype(int)

In [41]:
# Reading our sample submission data

sample.head()

   traveller_ID  Survived
0          1148         0
1          1049         1
2           982         0
3           808         1
4          1195         0

In [42]:
# doing some columns interchanging

sample.traveller_ID = test.traveller_ID

In [43]:
# changing our 'Survived' column to our 'prediction'

sample.Survived = prediction

In [45]:
# converting our submission to csv

sample.to_csv('titanic_submission.csv', index=False)