In [1]:
list1=[1,2,3,4,5,6,7,8,9,10]

In [2]:
for num in list1:
    print(num)

1
2
3
4
5
6
7
8
9
10

In [3]:
for num in list1:
    if num%2==0:
        print(num)
    else:
        print(f'odd num: {num}')

odd num: 1
2
odd num: 3
4
odd num: 5
6
odd num: 7
8
odd num: 9
10

In [12]:
list_sum=0

In [17]:
list_sum=0

for num in list1:
    list_sum=list1_sum + num
    
print(list_sum)

10

In [13]:
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [14]:
list_sum=0

In [20]:
for num in list1:
    list_sum=list_sum + num
    print(list_sum)

11
13
16
20
25
31
38
46
55
65

In [21]:
list_sum

65

In [25]:
list_sum=0

In [26]:
for num in list1:
    list_sum=list_sum+num

print(list_sum)

55

In [29]:
for letter in 'This is a boy':
    print(letter)

T
h
i
s

i
s

a

b
o
y

In [31]:
# This is another way of interating over an object
for _ in 'Great':
    print('cool')

cool
cool
cool
cool
cool

In [34]:
tup=(1,2,3,4)
for _ in tup:
    print(_)

1
2
3
4

In [3]:
list2=[(1,2),(3,4),(5,6),(7,8,9)]
for items in list2:
    print(items)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [12]:
for (t1,t2) in list2:
    print(t1)
    print(t2)

1
2
3
4
5
6
7
8

In [13]:
d={'k1':1,'k2':2,'k3':3}
for item in d:
    print(item)

k1
k2
k3

In [14]:
for items in d.items():
    print(items)

('k1', 1)
('k2', 2)
('k3', 3)

In [15]:
# using dictionaries unpacking

In [26]:
for a,b in d.items():
    print(b)

1
2
3

In [27]:
d={'boy':1,'Girls':3,'Men':2}

In [31]:
sorted(d.values())

[1, 2, 3]

In [2]:
input('Enter your name:')

Enter your name:54

'54'